.coaches {
  @include vp-1199 {
    min-height: 423px;
  }

  h2 {
    margin: 0;
    margin-bottom: 46px;
    grid-column: 1/-1;
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      text-align: center;
      margin-right: 5px;
      margin-bottom: 32px;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 40px;
    }
  }
}

.coaches__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 91px;
  overflow: hidden;

  @include vp-1199 {
    max-width: 656px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    max-width: 500px;
    padding: 0 46px 70px;
  }
}

.coaches__container {
  position: relative;
  min-height: 294px;
  background-color: $color-grey;

  @include vp-767 {
    min-height: auto;
  }

  img {
    width: 100%;
    min-height: 294px;
    object-fit: cover;

    @include vp-1199 {
      width: 268px;
      max-height: 294px;
    }

    @include vp-767 {
      min-height: 274px;
      max-height: 100vw;
      width: 100%;
    }
  }
}

.coaches__description-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 50px 30px 23px;
  background-color: none;
  overflow-y: auto;

  @include vp-1199 {
    padding-left: 41px;
    padding-right: 41px;
  }

  @include vp-767 {
    padding: 41px 20px 48px;
  }

  h5 {
    margin: auto auto 0;
    color: $color-default-white;
    font-size: 18px;
    text-align: center;

    @include vp-1199 {
      padding-left: 6px;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    background-color: $color-sapphire;
    opacity: 0.89;

    .coaches__description-inner {
      transform: scale(1);
      transition: $trans-default;
      height: 100%;
    }

    h5 {
      margin: 4px 0 -4px;

      @include vp-1199 {
        margin-top: 3px;
        padding-right: 14px;
      }

      @include vp-767 {
        margin-bottom: -5px;
        margin-top: 2px;
        padding: 0;
      }
    }
  }
}

.coaches__description-inner {
  height: 0;
  transform: translateY(180px);

  transition: {
    property: transform, opacity;
    duration: 0.3s, 0.6s;
    timing-function: ease-in-out;
  }

  p {
    margin: 0;
    text-align: center;
    color: $color-spindle;

    @include vp-1199 {
      margin-left: -5px;
    }
  }

  ul {
    margin: 0;
    padding: 32px 0 0 41px;
    list-style: none;
    color: $color-default-white;

    @include vp-1199 {
      padding-left: 30px;
    }

    li {
      position: relative;
      margin: 0 auto;
      margin-bottom: 13px;
      font-size: 14px;

      &::before {
        position: absolute;
        content: "";
        top: 8px;
        left: -15px;
        width: 6px;
        height: 6px;
        background-color: $color-default-white;
        border-radius: 50%;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.coaches__slider {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.coaches__slide {
  width: 260px;
}

.coaches__swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.coaches__button {
  padding: 0;
  color: $color-dark-grey;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }

  @include hover-focus {
    outline-offset: 2px;
    outline-color: $color-sapphire;
  }
}

.coaches__button-next,
.coaches__button-prev {
  position: absolute;
  border: none;
  background-color: transparent;
}

.coaches__button-next {
  rotate: 180deg;
  top: 55%;
  right: 46px;

  @include vp-1199 {
    top: 55.1%;
    right: 39px;
  }

  @include vp-767 {
    top: 47%;
    right: 13px;
  }
}

.coaches__button-prev {
  top: 55%;
  left: 46px;

  @include vp-1199 {
    top: 55.1%;
    left: 38px;
  }

  @include vp-767 {
    top: 47%;
    left: 13px;
  }
}
